body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 55px;
}
.orange-color{
    color:red;
}
.flexible-container{
  display: flex;  
  margin-bottom: 100px;
}
.container{
    width: 50%;
    padding-left: 5%;
    
}
.container img{
    width: 80%;
}
.hamim{
    text-decoration: none;
    background-image: linear-gradient(orange
    ,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.top{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;s
}

.nur{
    box-shadow:10px 10px 70px gray;
    margin-left:3%;
    margin-right:3%;
    width:40%;
    padding-left:20px;
    border: radius 10px;
    


}
#boss{
border-image: linear-gradient(blue,cyan);
border-image-slice: 4;
border-left: 7px solid;
}

#boss2{
    border-image: linear-gradient(purple,tomato);
border-image-slice: 4;
border-left: 7px solid;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
footer p{
    text-align: center;
}